.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  height: 410px;
  padding: 1.5rem 2rem;
  text-decoration: none;
  border-radius: 60px;
  overflow: hidden;
  box-shadow: var(--card-shadow);
}

.ques {
  font-family: var(--fontFamily);
  font-weight: 700;
  color: var(--darkGrey);
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.25rem;
  margin: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  animation: fadeIn 10s infinite;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10%,
  20%,
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.options {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.options li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  height: 4.5rem;
  border-radius: 60px;
  box-shadow: var(--card-shadow);
  margin-bottom: 1rem;
  animation: slideUp 10s infinite;
}

.options .option {
  display: flex;
  align-items: center;
  flex: 0.925;
  font-family: var(--fontFamily);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.options .circle {
  flex: 0.075;
  margin-left: 2rem;
  margin-right: 2rem;
  border: 3px solid var(--textColor);
  border-radius: 50%;
  appearance: none;
}

@keyframes slideUp {
  0% {
    margin-top: 150%;
  }
  10% {
    margin-top: 100%;
  }
  50% {
    margin-top: 0%;
  }
  100% {
    margin-top: 0%;
  }
}

.options .option__circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  appearance: none;
  background-color: white;
}

.options .answer {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  appearance: none;
  background-color: var(--textColor);
}

.options .answer {
  animation: fill 10s;
  animation-iteration-count: infinite;
  box-shadow: inset 3em 3em var(--textColor);
}

@keyframes fill {
  0%,
  50% {
    transform: scale(0);
  }
  70%,
  100% {
    transform: scale(1);
  }
}
